# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.DS_Store
.vscode/
.ipynb_checkpoints/
docker/*
*.pickle
results/
tmp/
*-checkpoint.py
wandb/
outputs/
models/


!jaxmarl/environments/mabrax/randomization.ipynb
!jaxmarl/environments/mabrax/vel_reward.ipynb

*.png
*.asdf
*.mp4
*.tflite

!experiments_data/**/*.png
!experiments_data/**/*.mp4
!experiments_data/**/*.tflite
!experiments_data/**/*.asdf
jit_*